{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["dist"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "strict": ["error", "never"]
  },
  "env": {
    "node": true
  }
}
